.scrollToTop,
.pagination_area ul li a:hover {
  background-color: rgba(176, 148, 92, 0.999);
  color: #fff;
}
.scrollToTop:hover,
.scrollToTop:focus,
.pagination_area ul li a {
  background-color: #fff;
  color: rgba(176, 148, 92, 0.999);
  border-color: 1px solid rgba(176, 148, 92, 0.999);
}
.top_nav li a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.search_form input[type="submit"]:hover {
  background-color: rgba(176, 148, 92, 0.999);
}
.navbar-default {
  background-color: rgba(176, 148, 92, 0.999);
  border-color: rgba(176, 148, 92, 0.999);
}
.custom_nav li a:hover {
  border-color: #ffae00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #fff;
  color: rgba(176, 148, 92, 0.999);
  border-color: #ffae00;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: rgba(176, 148, 92, 0.999);
  border-color: #ffae00;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 1px;
  background-color: rgba(176, 148, 92, 0.999);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #fff;
  color: rgba(176, 148, 92, 0.999);
  border-color: #ffae00;
  padding-left: 20px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fcc259;
}
.slick-prev,
.slick-next {
  background-color: rgba(176, 148, 92, 0.999);
}
.slick-prev:hover,
.slick-next:hover {
  opacity: 0.8;
}
.bold_line span {
  background-color: rgba(176, 148, 92, 0.999);
}
.catg1_nav li .post_titile a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.content_middle_middle:after {
  background-color: rgba(176, 148, 92, 0.999);
}
.content_middle_middle:before {
  background-color: rgba(176, 148, 92, 0.999);
}
.single_featured_slide > h2 a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.catg_titile a:hover {
  color: rgba(176, 148, 92, 0.999);
}
span.meta_date:hover,
span.meta_comment:hover,
span.meta_more:hover,
span.meta_comment a:hover,
span.meta_more a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.media-heading a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.single_bottom_rightbar > h2 {
  border-bottom: 3px solid rgba(176, 148, 92, 0.999);
}
.nav-tabs {
  border-bottom: 1px solid rgba(176, 148, 92, 0.999);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  color: rgba(176, 148, 92, 0.999);
}
.nav-tabs > li.active > a:hover {
  color: rgba(176, 148, 92, 0.999) !important;
}
.nav-tabs > li > a:hover {
  background-color: rgba(176, 148, 92, 0.999);
  color: #fff !important;
}
.single_bottom_rightbar ul li > a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.labels_nav li a:hover {
  background-color: rgba(176, 148, 92, 0.999);
}
.breadcrumb {
  background-color: rgba(176, 148, 92, 0.999);
  border: 2px solid rgba(176, 148, 92, 0.999);
}
.single_page_area > h2 {
  border-left: 5px solid rgba(176, 148, 92, 0.999);
}
.post_commentbox a:hover,
.post_commentbox span:hover {
  color: rgba(176, 148, 92, 0.999);
}
.single_page_content blockquote {
  border-color: #eee rgba(176, 148, 92, 0.999);
  border-left: 5px solid rgba(176, 148, 92, 0.999);
}
.single_page_content ul li:before {
  background: none repeat scroll 0 0 rgba(176, 148, 92, 0.999);
}
.post_pagination {
  border-bottom: 2px solid rgba(176, 148, 92, 0.999);
  border-top: 2px solid rgba(176, 148, 92, 0.999);
}
.prev {
  border-right: 2px solid rgba(176, 148, 92, 0.999);
}
.angle_left {
  background-color: rgba(176, 148, 92, 0.999);
}
.angle_right {
  background-color: rgba(176, 148, 92, 0.999);
}
.error_page_content h1:after,
.error_page_content h1:before {
  border: 2px solid rgba(176, 148, 92, 0.999);
}
.error_page_content p {
  border-bottom: 2px solid rgba(176, 148, 92, 0.999);
  border-top: 2px solid rgba(176, 148, 92, 0.999);
}
.error_page_content p:after {
  border-top: 1px solid rgba(176, 148, 92, 0.999);
}
.error_page_content p:before {
  border-top: 1px solid rgba(176, 148, 92, 0.999);
}
.error_page_content p > a:hover {
  color: rgba(176, 148, 92, 0.999);
}
.our_office {
  border-top: 2px solid rgba(176, 148, 92, 0.999);
}
.contact_us {
  border-top: 2px solid rgba(176, 148, 92, 0.999);
}
.contact_form input[type="submit"]:hover {
  background-color: rgba(176, 148, 92, 0.999);
  color: #fff;
  border-color: rgba(176, 148, 92, 0.999);
}
.our_office:before {
  border-bottom: 1px solid rgba(176, 148, 92, 0.999);
}
.contact_us:before {
  border-bottom: 1px solid rgba(176, 148, 92, 0.999);
}
.single_footer_top > h2 {
  color: rgba(176, 148, 92, 0.999);
}
.similar_post h2 i {
  color: rgba(176, 148, 92, 0.999);
}
